{% extends 'layout/guest.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="page page-center">
      <div class="container container-tight py-4" id="app_reset_password">
        <div class="text-center mb-4">
          <a href="{{ path('app_home_web') }}" class="navbar-brand navbar-brand-autodark">
            <img src="{{ absolute_url(asset('static/logo.png')) }}" height="150" alt="">
          </a>
        </div>
        <form v-on:submit.prevent="resetPasswordAction" class="card card-md" action="{{ path('app_endpoint_v1_reset_password') }}" data-redirect-url="{{ path('app_ui_login') }}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token('reset-password-action') }}"/>
          <input type="hidden" name="token" value="{{ token }}">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">{% trans %}Reset Password{% endtrans %}</h2>
            <p class="text-muted mb-4">{% trans %}Enter your new password.{% endtrans %}</p>
            <div class="mb-3">
              <label class="form-label">{% trans %}Password{% endtrans %}</label>
              <input type="password" class="form-control" name="newPassword" placeholder="{% trans %}Your password{% endtrans %}" required>
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">{% trans %}Submit{% endtrans %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock %}