<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ data.subject }}</title>
        <style type="text/css">
            a,a[href],a:hover, a:link, a:visited {
                text-decoration: none!important;
                color: #0000EE;
            }
            .link {
                text-decoration: underline!important;
            }
            p, p:visited {
                font-size:15px;
                line-height:24px;
                font-family:'Helvetica', Arial, sans-serif;
                font-weight:300;
                text-decoration:none;
                color: #000000;
            }
            h1 {
                font-size:22px;
                line-height:24px;
                font-family:'Helvetica', Arial, sans-serif;
                font-weight:normal;
                text-decoration:none;
                color: #000000;
            }
            .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td {
                line-height: 100%;
            }
            .ExternalClass {
                width: 100%;
            }
        </style>
    </head>
    <body style="text-align: center; margin: 0; padding-top: 10px; padding-bottom: 10px; padding-left: 0; padding-right: 0; -webkit-text-size-adjust: 100%;background-color: #f2f4f6; color: #000000" align="center">
        <div style="text-align: center;">
            <table align="center" style="text-align: center; vertical-align: top; width: 600px; max-width: 600px; background-color: #ffffff;" width="600">
                <tbody>
                    <tr>
                        <td style="width: 596px; vertical-align: top; padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 15px;" width="596">
                            <!-- Your logo is here -->
                            <img style="width: 180px; max-width: 180px; height: 85px; max-height: 85px; text-align: center; color: #ffffff;" alt="Logo" src="{{ data.logo_url }}" align="center" width="180" height="85">
                        </td>
                    </tr>
                </tbody>
            </table>
            <img style="width: 600px; max-width: 600px; height: 350px; max-height: 350px; text-align: center;" alt="Hero image" src="{{ data.article.img_url }}" align="center" width="600" height="350">
            <table align="center" style="text-align: center; vertical-align: top; width: 600px; max-width: 600px; background-color: #ffffff;" width="600">
                <tbody>
                    <tr>
                        <td style="width: 596px; vertical-align: top; padding-left: 30px; padding-right: 30px; padding-top: 30px; padding-bottom: 40px;" width="596">
                            <h1 style="font-size: 20px; line-height: 24px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 600; text-decoration: none; color: #000000;">{{ data.article.title }}</h1>
                            <p style="font-size: 15px; line-height: 24px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 400; text-decoration: none; color: #919293;">{{ data.article.description }}</p>
                            <a href="{{ data.article.link }}" target="_blank" style="background-color: #000000; font-size: 15px; line-height: 22px; font-family: 'Helvetica', Arial, sans-serif; font-weight: normal; text-decoration: none; padding: 12px 15px; color: #ffffff; border-radius: 5px; display: inline-block; mso-padding-alt: 0;">
                                <span style="mso-text-raise: 15pt; color: #ffffff;">Learn more</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table align="center" style="text-align: center; vertical-align: top; width: 600px; max-width: 600px;" width="600">
                <tbody>
                    <tr>
                        <td style="width: 596px; vertical-align: top; padding-left: 30px; padding-right: 30px; padding-top: 30px; padding-bottom: 30px;" width="596">
                            <p style="font-size: 12px; line-height: 12px; font-family: 'Helvetica', Arial, sans-serif; font-weight: normal; text-decoration: none; color: #000000;">
                                Not wanting to receive these emails?
                            </p>
                            <p style="font-size: 12px; line-height: 12px; font-family: 'Helvetica', Arial, sans-serif; font-weight: normal; text-decoration: none; color: #000000;">
                                You can <a style="text-decoration: underline; color: #000000;" href="{{ data.unsubscribe_url }}"><u>unsubscribe here</u></a>
                            </p>
                            <p style="font-size: 12px; line-height: 12px; font-family: 'Helvetica', Arial, sans-serif; font-weight: normal; text-decoration: none; color: #919293; margin-top: 30px;">
                                Sent with &#9825; from <a style="text-decoration: none; color: #919293;" href="{{ app_url }}"><u>{{ app_name }}</u></a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
